
.menu:hover{
  /*-fx-font-weight: bold;*/
  -fx-text-fill: #fff;
}

Label{
   -fx-text-fill: #888; 
}

.fond{
    -fx-background-color: #bbb;
}

Line{
    -fx-stroke: #888;
}

#curseur{
    -fx-fill: #888;
}

#segment{
    -fx-color:#fff;
    -fx-opacity: 0.5;
}

#centerable:hover{
  /*-fx-font-weight: bold;*/
  -fx-text-fill: #fff;
}
